body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: lightgray;
}

.card{
    width: 800px;
    background-color: rgb(211, 221, 239);
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    color: lightsteelblue;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.mainContanier{
    width: 65%;
}

.funcHeading {
    font-size: 24px;
    color: black;
    margin: 0;
    line-height: 2;
}
.img img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px white solid;
}
  

